

<app-navbar></app-navbar>
<section class="most-popular bg-blue-500">
  <div class="py-4 px-6">
    <h2 class="text-white text-2xl font-bold text-center">OUR RECOMMENDATIONS</h2>
</div>
    <div class="flex flex-wrap justify-center px-4">
      <div class="max-w-sm w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
        <div class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
          <a href="#">
            <img class="h-64 w-full object-cover" src="../../../assets/images/karsten-winegeart-sStahKEhT9w-unsplash.jpg" alt="Noteworthy technology acquisitions 2021">
          </a>
          <div class="p-5 flex flex-col justify-between flex-grow">
            <div>
              <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Switzerland</h5>
              </a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Camping House</p>
            </div>
            <div class="mt-auto">
              <div class="flex justify-between items-center">
                <a [routerLink]="['/details']" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Details
                  <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                  </svg>
                </a>
                <p class="text-gray-700 dark:text-gray-400">PER DAY : $97</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="max-w-sm w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
        <div class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
          <a href="#">
            <img class="h-64 w-full object-cover" src="../../../assets/images/alexa-west-dUPfhP18dPI-unsplash.jpg" alt="Noteworthy technology acquisitions 2021">
          </a>
          <div class="p-5 flex flex-col justify-between flex-grow">
            <div>
              <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Switzerland</h5>
              </a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Beach House</p>
            </div>
            <div class="mt-auto">
              <div class="flex justify-between items-center">
                <a [routerLink]="['/details']" href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Details
                  <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                  </svg>
                </a>
                <p class="text-gray-700 dark:text-gray-400">PER DAY : $52</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="max-w-sm w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
        <div class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
          <a href="#">
            <img class="h-64 w-full object-cover" src="../../../assets/images/meritt-thomas-_YxDGcDm4Hs-unsplash.jpg" alt="Noteworthy technology acquisitions 2021">
          </a>
          <div class="p-5 flex flex-col justify-between flex-grow">
            <div>
              <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Portugal</h5>
              </a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Big Luxury House</p>
            </div>
            <div class="mt-auto">
              <div class="flex justify-between items-center">
                <a [routerLink]="['/details']"href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Details
                  <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                  </svg>
                </a>
                <p class="text-gray-700 dark:text-gray-400">PER DAY : $32</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
